@use 'variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@400;500;700&display=swap');

body {
  font-family: $font-family-primary;
}

.input-field {
  border-radius: $border-radius-btn;
  font-size: 1.2rem;
  padding: 20px 25px;
  width: 100%;
  background-color: $color-white;
  border: none;
  box-shadow: 0px 3px 7.5px rgba(0, 0, 0, 0.05);
  font-family: $font-family-secondary;
  color: $color-primary;
  transition: outline 0.2s;

  &::placeholder {
    color: #afafaf;
  }

  &:focus {
    outline: 2px solid rgba($color-secondary, 0.3);
  }
}
