@use "variables" as *;
@use "mixins";

.edit-form {
  @include mixins.flex();
  gap: 20px;
  max-width: 400px;
  margin: 0 auto;
}

.form-group {
  @include mixins.flex();
  gap: 8px;
  width: 100%;

  label {
    font-family: $font-family-secondary;
    font-size: 16px;
    font-weight: 500;
    color: $color-primary;
  }
}

.buttons {
  @include mixins.flex();
  gap: 15px;
  margin-top: 10px;
  width: 100%;

  app-button {
    width: 100%;
  }
}
