<app-form-card-layout [pageTitle]="'Editar Perfil'" (onBack)="goBack()">
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()" class="edit-form">
    <app-photo-upload 
      [photoPreview]="photoPreview" 
      [rounded]="true"
      (fileSelected)="onFileSelected($event)"
    />
      <div class="form-group">
        <label for="name">Nome completo</label>
        <input
          id="name"
          type="text"
          formControlName="name"
          placeholder="Digite seu nome"
          class="input-field"
        />
      </div>

      <div class="form-group">
        <label for="email">E-mail</label>
        <input
          id="email"
          type="email"
          formControlName="email"
          placeholder="Digite seu e-mail"
          class="input-field"
        />
      </div>

      <div class="form-group">
        <label for="password">Nova senha</label>
        <input
          id="password"
          type="password"
          formControlName="password"
          placeholder="Digite uma nova senha"
          class="input-field"
        />
      </div>

      <div class="form-group">
        <label for="confirmPassword">Confirmar nova senha</label>
        <input
          id="confirmPassword"
          type="password"
          formControlName="confirmPassword"
          placeholder="Confirme a nova senha"
          class="input-field"
        />
      </div>

      @if (editForm.get('confirmPassword')?.hasError('passwordMismatch') && editForm.get('confirmPassword')?.touched) {
        <app-error-message message="As senhas não coincidem" />
      }

      @if (errorMessage) {
        <app-error-message [message]="errorMessage" />
      }

      <div class="buttons">
        <app-button
          text="Salvar"
          loadingText="Salvando..."
          [isLoading]="isLoading"
          [disabled]="editForm.invalid"
          type="submit"
        />
        <app-button
          text="Remover perfil"
          loadingText="Removendo..."
          [isLoading]="isLoading"
          type="button"
          variant="danger"
          (clicked)="onDelete()"
        />
      </div>
  </form>
</app-form-card-layout>
