@use "variables" as *;
@use "mixins";

.vehicle-card {
  @include mixins.flex(column, center, center);
  gap: 10px;
  padding: 8px 8px 12px;
  background-color: $color-white;
  border: 1px solid #EEEEEE;
  border-radius: 8px;
  box-shadow: 
    0px 2px 5px rgba(84, 84, 84, 0.1),
    0px 10px 10px rgba(84, 84, 84, 0.09),
    0px 22px 13px rgba(84, 84, 84, 0.05),
    0px 39px 16px rgba(84, 84, 84, 0.01),
    0px 61px 17px rgba(84, 84, 84, 0);
  width: 241px;
  height: 303px;
  flex-shrink: 0;
  cursor: pointer;
  transition: transform 0.2s;

  &:hover {
    transform: translateY(-5px);
  }
}

.vehicle-image {
  width: 100%;
  height: 119px;
  object-fit: cover;
  border-radius: 4px;
}

.vehicle-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 209px;
}

.vehicle-name {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.14990234375em;
  color: $color-primary;
  margin: 0;
  width: 100%;
}

.vehicle-detail {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.14990234375em;
  color: $color-primary;
  margin: 0;
  width: 100%;
}
