<div class="vehicle-card">
  <img [src]="vehicle().photo" [alt]="vehicle().name" class="vehicle-image" />
  
  <div class="vehicle-info">
    <h3 class="vehicle-name">{{ vehicle().name }}</h3>
    <p class="vehicle-detail">{{ vehicle().bodyType }}</p>
    <p class="vehicle-detail">{{ vehicle().engineType }}</p>
    <p class="vehicle-detail">{{ vehicle().seats }} Lugares</p>
  </div>

  <div class="button-wrapper">
    @if (isReserved()) {
      <app-button 
        [text]="'Liberar Veículo'" 
        [type]="'button'"
        [variant]="'secondary'"
        [size]="'small'"
        (clicked)="onCancelClick()"
      />
    } @else {
      <app-button 
        [text]="'Reservar'" 
        [type]="'button'"
        [variant]="'primary'"
        [size]="'small'"
        (clicked)="onReserveClick()"
      />
    }
  </div>
</div>
