@use "variables" as *;

.btn-primary {
  font-size: 20px;
  font-weight: bold;
  font-family: $font-family-primary;

  width: 100%;
  border: none;
  border-radius: $border-radius-btn;
  padding: 18px 0;

  background-color: $color-secondary;
  color: $color-white;
  box-shadow: 0px 3px 7.5px rgba(0, 0, 0, 0.47);

  cursor: pointer;

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  &:hover:not(:disabled) {
    background-color: darken($color-secondary, 5%);
  }
}
