@use "variables" as *;

.btn-small {
  font-size: 16px;
  font-weight: 500;
  padding: 12px 0;
}

.btn-medium {
  font-size: 18px;
  font-weight: 500;
  padding: 15px 0;
}

.btn-large {
  font-size: 20px;
  font-weight: bold;
  padding: 18px 0;
}

.btn-primary {
  font-family: $font-family-primary;

  width: 100%;
  border: none;
  border-radius: $border-radius-btn;

  background-color: $color-secondary;
  color: $color-white;
  box-shadow: 0px 3px 7.5px rgba(0, 0, 0, 0.47);

  cursor: pointer;

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  &:hover:not(:disabled) {
    background-color: darken($color-secondary, 5%);
  }
}

.btn-danger {
  font-family: $font-family-primary;

  width: 100%;
  border: 2px solid #dc3545;
  border-radius: $border-radius-btn;

  background-color: transparent;
  color: #dc3545;
  box-shadow: 0px 3px 7.5px rgba(0, 0, 0, 0.47);

  cursor: pointer;

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  &:hover:not(:disabled) {
    background-color: rgba(#dc3545, 0.05);
  }
}

.btn-secondary {
  font-family: $font-family-primary;

  width: 100%;
  border: 1px solid $color-secondary;
  border-radius: $border-radius-btn;

  background-color: transparent;
  color: $color-secondary;
  box-shadow: none;

  cursor: pointer;

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  &:hover:not(:disabled) {
    background-color: rgba($color-secondary, 0.05);
  }
}
