@use "variables" as *;

.photo-upload {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.photo-label,
.photo-display {
  display: block;
  overflow: hidden;
  background-color: #f5f5f5;
  transition: transform 0.2s;

  &--small {
    width: 104px;
    height: 104px;
  }

  &--medium {
    width: 150px;
    height: 150px;
  }

  &--large {
    width: 200px;
    height: 200px;
  }

  &--rounded {
    border-radius: 50%;
    border: 3px solid $color-secondary;
    box-shadow: 0px 3px 7.5px rgba(0, 0, 0, 0.2);

    &.photo-label--small {
      border: 2px solid $color-secondary;
    }

    .photo-placeholder {
      background-color: $color-secondary;
      color: $color-white;

      span {
        font-size: 3rem;
        margin-bottom: 5px;
      }

      p {
        font-size: 0.875rem;
        font-family: $font-family-secondary;
      }
    }

    &.photo-label--small .photo-placeholder span,
    &.photo-display--small .photo-placeholder span {
      font-size: 48px;
      margin-bottom: 0;
    }
  }

  &:not(&--rounded) {
    border-radius: 8px;
    border: 2px dashed #ccc;
  }
}

.photo-label {
  cursor: pointer;

  &:hover {
    transform: scale(1.02);
  }

  &--rounded:hover {
    transform: scale(1.05);
  }
}

.photo-display {
  &--rounded.photo-display--small {
    box-shadow: 0px 3px 7.5px rgba(0, 0, 0, 0.45);
  }
}

.photo-input {
  display: none;
}

.photo-preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photo-placeholder {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #999;

  span {
    font-size: 4rem;
    margin-bottom: 10px;
  }

  p {
    font-size: 1rem;
    text-align: center;
    margin: 0;
  }
}
