@use "variables" as *;
@use "mixins";

.register-container {
  @include mixins.flex();

  height: 100vh;
  background-color: $color-primary;
  padding: 20px;
}

.register-card {
  @include mixins.flex();
  width: 100%;
}

.register-form {
  @include mixins.flex();

  width: 100%;
  max-width: 400px;

  .input-field:not(:first-of-type) {
    margin-top: 15px;
  }

  .input-field:last-of-type {
    margin-bottom: 10px;
  }
}

.photo-upload {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.photo-label {
  cursor: pointer;
  display: block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  background-color: $color-white;
  box-shadow: 0px 3px 7.5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.05);
  }
}

.photo-input {
  display: none;
}

.photo-preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photo-placeholder {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #afafaf;

  span {
    font-size: 2.5rem;
    margin-bottom: 5px;
  }

  p {
    font-size: 0.85rem;
    text-align: center;
    margin: 0;
  }
}

app-button {
  display: block;
  width: 100%;
  margin-top: 30px;
}

.login-section {
  margin-top: 40px;

  & span,
  a {
    font-family: $font-family-primary;
    font-weight: 400;
    color: $color-white;
    font-size: 1rem;
  }

  .login-link {
    text-decoration: underline;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }
}
