@use "variables" as *;
@use "mixins";

.register-container {
  @include mixins.flex();

  height: 100vh;
  background-color: $color-primary;
  padding: 20px;
}

.register-card {
  @include mixins.flex();
  width: 100%;
}

.register-form {
  @include mixins.flex();

  width: 100%;
  max-width: 400px;

  .input-field:not(:first-of-type) {
    margin-top: 15px;
  }

  .input-field:last-of-type {
    margin-bottom: 10px;
  }
}

app-button {
  display: block;
  width: 100%;
  margin-top: 30px;
}

.login-section {
  margin-top: 40px;

  & span,
  a {
    font-family: $font-family-primary;
    font-weight: 400;
    color: $color-white;
    font-size: 1rem;
  }

  .login-link {
    text-decoration: underline;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }
}
