@use "variables" as *;
@use "mixins";

.register-container {
  @include mixins.flex();

  height: 100vh;
  background-color: $color-primary;
  padding: 20px;
}

.register-card {
  @include mixins.flex();
  width: 100%;
}

.register-form {
  @include mixins.flex();

  width: 100%;
  max-width: 400px;
}

.input-field {
  border-radius: $border-radius-btn;
  font-size: 1.2rem;
  padding: 20px 25px;
  width: 100%;
  background-color: $color-white;
  border: none;
  box-shadow: 0px 3px 7.5px rgba(0, 0, 0, 0.05);

  &:not(:first-of-type) {
    margin-top: 15px;
  }

  &:last-of-type {
    margin-bottom: 10px;
  }

  &::placeholder {
    color: #afafaf;
  }

  &:focus {
    outline: 2px solid rgba($color-secondary, 0.3);
  }
}

app-primary-button {
  display: block;
  width: 100%;
  margin-top: 30px;
}

.login-section {
  margin-top: 40px;

  & span,
  a {
    font-family: $font-family-primary;
    font-weight: 400;
    color: $color-white;
    font-size: 1rem;
  }

  .login-link {
    text-decoration: underline;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }
}
